<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>

    <xacro:macro name="ur_robotiq" params="
        parent
        *origin
        robot_ip
        ur_type
        com_port
        tf_prefix
        use_fake_hardware:=false
        cable_connector:=true
        joint_limits_parameters_file
        kinematics_parameters_file
        physical_parameters_file
        visual_parameters_file
        script_filename
        output_recipe_filename
        input_recipe_filename
        ">

        <!-- Create the UR robot-->
        <xacro:ur_robot
            robot_ip="${robot_ip}"
            name="${ur_type}"
            parent="${parent}"
            tf_prefix="${tf_prefix}"
            use_fake_hardware="${use_fake_hardware}"
            joint_limits_parameters_file="${joint_limits_parameters_file}"
            kinematics_parameters_file="${kinematics_parameters_file}"
            physical_parameters_file="${physical_parameters_file}"
            visual_parameters_file="${visual_parameters_file}"
            script_filename="${script_filename}"
            output_recipe_filename="${output_recipe_filename}"
            input_recipe_filename="${input_recipe_filename}"
        >
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:ur_robot>

        <!--Create the Robotiq model -->
        <xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix="${tf_prefix}" parent="${tf_prefix}tool0" use_fake_hardware="$(arg use_fake_hardware)" com_port="$(arg com_port)">
            <origin xyz="0 0 0" rpy="0 0 0" />
        </xacro:robotiq_gripper>

    </xacro:macro>
</robot>